body {
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  margin-top: 20px;
  font-size: 18px;
  min-width: 250px;
  max-width: 350px;
  padding: 10px;
  display: block;
  border: 3px solid;
  border-radius: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #9da8e3;
  border-color: #9da8e3;
  background-color: #ECEFF1;
  transition: border-color 0.3s, background-color 0.3s;
}

.btn-small {
  min-width: 50px;
  max-width: 50px;
  padding: 5px;
  font-size: 14px;
}

.btn:hover {
  border-color: #2d3773;
  color: #2d3773;
  background-color: #ECEFF1;
}

.Main-Container {
  margin: 30px;
  padding: 30px;
  justify-content: center;
}

.Form-Container {
  width: 50%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  width: 400px;
  border-radius: 6px;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 30px;
  border-color: #9da8e3;
  box-shadow: none;
}

.loader-1 {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 100px;
  display: inline-block;
  vertical-align: middle;
}

.loader-1 .loader-outer {
  position: absolute;
  border: 4px solid #f50057;
  border-left-color: transparent;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: loader-1-outer 1s cubic-bezier(.42, .61, .58, .41) infinite;
  animation: loader-1-outer 1s cubic-bezier(.42, .61, .58, .41) infinite;
}

.loader-1 .loader-inner {
  position: absolute;
  border: 4px solid #f50057;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  left: calc(50% - 35px);
  top: calc(50% - 35px);
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
  animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
}

@-webkit-keyframes loader-1-outer {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes loader-1-outer {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-1-inner {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
  }
}

@keyframes loader-1-inner {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
  }
}

.chart-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.chart-container {
  padding: 20px;
  width: 40%;
}

.forecast-head {
  margin-bottom: 40px;
}
